<p id="notice"><%= notice %></p>

<h1><%= t(:Listing_things, things: WordList.model_name.human(count: 2)) %></h1>

<table>
  <thead>
    <tr>
      <th><%= WordList.human_attribute_name(:name) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_lists.each do |word_list| %>
      <tr>
        <td><%= word_list.name %></td>
        <td><%= link_to t(:Show), word_list %></td>
        <td><%= link_to t(:Edit), edit_word_list_path(word_list) %></td>
        <td><%= link_to t(:Destroy), word_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:New_thing, thing: WordList.model_name.human), new_word_list_path %>
<%= link_to t(:Back), root_path %>
