<p id="notice"><%= notice %></p>

<p>
  <strong><%= WordList.human_attribute_name(:name) %>:</strong>
  <%= @word_list.name %>

  <table>
    <thead>
      <tr>
        <th><%= Word.human_attribute_name(:word) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @word_list.words.each do |word| %>
        <%= render 'words/show', word: word %>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to t(:Add_thing, thing: Word.model_name.human), new_word_list_word_path(@word_list) %> |
<%= link_to t(:Edit), edit_word_list_path(@word_list) %> |
<%= link_to t(:Back), word_lists_path %>
