<%= form_for([@game, @game.guesses.build]) do |f| %>
  <% if @guess and @guess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guess.errors.count, "error") %> prohibited this guess from being saved:</h2>

      <ul>
      <% @guess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="guess">
    <%= f.label :guess %>
    <%= f.text_field :guess %>
  </div>

  <div class="actions">
    <%= f.submit "Submit guess" %>
  </div>
<% end %>
