<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:errors_prohibited_this_thing_from_being_saved, errors: t(:error, count: @game.errors.count), thing: Game.model_name.human.downcase) %>:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wordlist_name %>
    <%= f.select :wordlist_name, wordlist_names %>
  </div>
  <div class="field">
    <%= f.label :starting_lives %>
    <%= f.text_field :starting_lives %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
