<p id="notice"><%= notice %></p>

<div id="finishedstate">
  <% if @game.finished? %>
    <div id="gameover"><%= t(:game_over) %></div>
    <div id="winstate"><%= @game.won?? t(:you_won) : t(:you_lost) %></div>
  <% end %>
</div>
<p id="livesremaining"><%= t(:you_have_lives_remaining, lives: pluralize(@game.lives, t(:life))) %></p>
<p id="guessed_word"><%= t(:currently_guessed_word_is, guessed_word: guessed_word(@game)) %></p>
<p id="guesses"><%= t(:you_have_guessed, guessed_letters: guessed_letters(@game)) %></p>

<% if Rails.env.development? %>
  <div id="debug">
    DEBUG
    <p id="word">The word is <%= @game.word %></p>
  </div>
<% end %>

<%= render 'guesses/form' %>

<%= link_to 'Back', games_path %>
