<p id="notice"><%= notice %></p>

<div id="finishedstate">
  <% if @game.finished? %>
    <div id="gameover"><%= t(:GAME_OVER) %></div>
    <div id="winstate"><%= @game.won?? t(:You_won) : t(:You_lost) %></div>
  <% end %>
</div>
<p id="livesremaining"><%= t(:You_have_lives_remaining, lives: pluralize(@game.lives, t(:life))) %></p>
<p id="guessed_word"><%= t(:Currently_guessed_word_is, guessed_word: guessed_word(@game)) %></p>
<p id="guesses"><%= t(:You_have_guessed, guessed_letters: guessed_letters(@game)) %></p>

<% if Rails.env.development? %>
  <div id="debug">
    <%= t(:DEBUG_MODE) %>
    <p id="word"><%= t(:The_word_is, word: @game.word) %></p>
  </div>
<% end %>

<%= render 'guesses/form' %>

<%= link_to t(:Back), games_path %>
