<p id="notice"><%= notice %></p>

<div id="finishedstate">
  <% if @game.finished? %>
    <div id="gameover">GAME OVER!</div>
    <div id="winstate"><%= @game.won?? "You won" : "You lost" %></div>
  <% end %>
</div>
<p id="livesremaining">You have <%= pluralize(@game.lives, "life") %> remaining </p>
<p id="guessed_word">Currently guessed word is: <%= @game.word_guessed_so_far.map { |char| char ? char : " _ " }.join %></p>
<p id="guesses">You have guessed: <%= @game.guessed_letters.join(" ") %></p>

<%= render 'guesses/form' %>

<%= link_to 'Back', games_path %>
