<%= form_for([@word_list, @word]) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("%{errors} prohibited this %{thing} from being saved", errors: t(:error, count: @word.errors.count), thing: Word.model_name.human.downcase) %>:</h2>

      <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %><br>
    <%= f.text_field :word %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
